.App{

  position: relative;
}

.select__country{
      position: absolute;
      width: 15%;
      margin: 0 250px;
      height: 28px;
      border: 1px solid rgb(204, 204, 204);
      border-radius: 4px;
}
.list_of_years{
  position: absolute;
  width: fit-content;
  right: 330px;
  height: 28px;
  border: 1px solid rgb(204, 204, 204);
  border-radius:4px ;
}
.list_of_months{
    position:absolute;
    width: fit-content;
    right: 390px;
    height: 28px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px;
}